/****** Script for SelectTopNRows command from SSMS  ******/

USE [CreditAdmin]
GO

--DROP TABLE CURRENT_FICO_20171231;

SELECT 
       FICO.[PROD_DT]
      ,FICO.[ACCOUNT #]
      ,FICO.[PARENT LOAN #]
      ,FICO.[BORROWER NAME]
	  ,CASE WHEN TIN.TAX_ID_NBR IS NULL THEN 'N'
			WHEN TIN.TAX_ID_NBR IS NOT NULL THEN 'Y'
	   END AS IS_BORROWER
      ,FICO.[ADDR_1]
      ,[ADDR_2]
      ,FICO.[CITY]
      ,FICO.[ST]
      ,FICO.[ZIP]
      ,FICO.[SSN]
	  ,TIN.TAX_ID_NBR
	  ,ROW_NUMBER() over (partition by FICO.[ACCOUNT #] order by FICO.[BORROWER NAME]) as Borrower# 
	  ,PERCENTILE_DISC(0.5) WITHIN GROUP (ORDER BY FICO.[FICO BASE V2- QST] ASC) OVER (PARTITION BY FICO.[ACCOUNT #] ) AS MedianDESC
	  ,FICO.[FICO BASE V2- QST] 
      ,FICO.[UPDATE_DT]

INTO CURRENT_FICO_20171231

  FROM [CreditAdmin].[dbo].[CURRENT_FICO] FICO
  LEFT JOIN [CreditAdmin].[dbo].[TAX_ID_EOM] TIN ON FICO.[SSN] = TIN.TAX_ID_NBR 
	AND FICO.[ACCOUNT #] = CASE WHEN TIN.SRC_TYPE_CD = 'AFS' THEN TIN.[ACCT_NBR] ELSE REPLACE(TIN.[ACCT_NBR],'-','') END 
	AND TIN.DATE_KEY = 20180228
  ORDER BY [PARENT LOAN #], [ACCOUNT #]


  SELECT * FROM [CURRENT_FICO_20171231]
  WHERE MedianDESC < MedianDESC_TRANCHE1 AND MedianDESC_TRANCHE1 = MedianDESC_TRANCHE2

WITH TEMP AS (
SELECT DISTINCT [ACCOUNT #] ,AVG( MedianDESC) AVG1, AVG(MedianDESC_TRANCHE1) AVG2
FROM CURRENT_FICO_20171231 
GROUP BY [ACCOUNT #])

SELECT DISTINCT A.[ACCOUNT #] , A.[FICO BASE V2- QST], A.MedianDESC, TEMP.AVG1, A.MedianDESC_TRANCHE1 ,  TEMP.AVG2
FROM CURRENT_FICO_20171231 A
LEFT JOIN TEMP ON TEMP.[ACCOUNT #] = A.[ACCOUNT #]
WHERE A.MedianDESC <>TEMP.AVG2 --A.MedianDESC <>TEMP.AVG1 OR A.MedianDESC_TRANCHE1 <>TEMP.AVG2 OR A.[FICO BASE V2- QST]> A.MedianDESC


  --SELECT COUNT(*)
  --FROM [CreditAdmin].[dbo].[CURRENT_FICO] 
  --WHERE [ACCOUNT #] = '0210187956-0034'



/***** UPDATE FICO FOR MUPTIPLE BORROWER OR MULTIPLE GARANTOR LOANS
USE CREDITADMIN
GO

DROP TABLE UPDATE_FICO;

WITH TT AS (

SELECT FICO.[PROD_DT]
      ,[ACCOUNT #]
	  ,TIN.[ACCT_NBR]
      ,[PARENT LOAN #]
      ,[BORROWER NAME]
	  ,CASE WHEN TIN.TAX_ID_NBR IS NULL THEN 'N'
			WHEN TIN.TAX_ID_NBR IS NOT NULL THEN 'Y'
	   END AS IS_BORROWER
      ,[SSN]
	  ,TIN.TAX_ID_NBR
      ,[Borrower#]
      ,[MedianDESC]
      ,[FICO BASE V2- QST]
      ,[UPDATE_DT]            
  FROM [CreditAdmin].[FRB\mlan].[CURRENT_FICO_20171231] FICO
  LEFT JOIN [CreditAdmin].[dbo].[TAX_ID_EOM] TIN ON FICO.[SSN] = TIN.TAX_ID_NBR 
	AND FICO.[ACCOUNT #] = CASE WHEN TIN.SRC_TYPE_CD = 'AFS' THEN TIN.[ACCT_NBR] ELSE REPLACE(TIN.[ACCT_NBR],'-','') END 
	AND TIN.DATE_KEY = 20180228
	AND (FICO.[FICO BASE V2- QST] > 299 AND FICO.[FICO BASE V2- QST] < 851) --AND [FICO BASE V2- QST] IS NOT NULL
  --ORDER BY [PARENT LOAN #], [ACCOUNT #]
)

--SELECT * FROM TT 
--WHERE IS_BORROWER = 'Y' AND [FICO BASE V2- QST] <>[MedianDESC]


SELECT 
       [PROD_DT]
      ,[ACCOUNT #]
	  ,row_number() over (partition by [ACCOUNT #] order by [BORROWER NAME]) as Borrower# 
	  ,PERCENTILE_DISC(0.5) WITHIN GROUP (ORDER BY [FICO BASE V2- QST] ASC) OVER (PARTITION BY [ACCOUNT #] ) AS MedianDESC
	  ,[FICO BASE V2- QST] 
      ,[UPDATE_DT]

INTO UPDATE_FICO

  FROM TT
  WHERE IS_BORROWER = 'Y'  
  ORDER BY [PARENT LOAN #], [ACCOUNT #]


UPDATE A 
SET A.[MedianDESC] = UPDATE_FICO.MedianDESC
FROM [CreditAdmin].[FRB\mlan].[CURRENT_FICO_20171231] A
INNER JOIN UPDATE_FICO ON UPDATE_FICO.[ACCOUNT #] = A.[ACCOUNT #] AND UPDATE_FICO.MedianDESC IS NOT NULL

***/


/**
ATHOC UPDATE ON EAGLE GOLD DATA
USE [SB_PA_Margaret]
GO
  
UPDATE A 
SET A.[FICO_ORIG] = EG.[FICO_ORIG]
FROM [SB_PA_Margaret].[FRB\mlan].[TBL_FICO_TEMP] A
INNER JOIN [CreditAdmin].[dbo].[EAGLEGOLD_FICO_20180306] EG ON EG.[ACCOUNT #] = A.[ACCT_NBR]
**/