/****** Script for SelectTopNRows command from SSMS  ******/
USE CREDITADMIN
GO

DROP TABLE FICO_CURR_20171231;
DROP TABLE #GUARANTOR_FICO;
DROP TABLE #TIN_FICO_TEMP;

WITH  #FICO_MIN AS (
  SELECT     
        [SSN]
	  , MIN([FICO BASE V2- QST]) AS [FICO_MIN]
	  --,ROW_NUMBER() OVER (PARTITION BY [SSN] ORDER BY [SSN]) AS ROW_NUM
  FROM CREDITADMIN.[dbo].[CURRENT_FICO]
  WHERE [FICO BASE V2- QST]< 851 AND [FICO BASE V2- QST] >299
  GROUP BY SSN )

--SELECT * FROM #FICO_MIN WHERE ROW_NUM >1

SELECT [DATE_KEY]
      ,[PROD_DT]
      ,[SRC_TYPE_CD]
      ,CASE WHEN TIN.SRC_TYPE_CD = 'AFS' THEN TIN.ACCT_NBR
			ELSE LEFT(TIN.ACCT_NBR,2) +'-'+ SUBSTRING(TIN.ACCT_NBR,3,6) +'-'+ RIGHT(TIN.ACCT_NBR,1) 
	   END AS ACCT_NBR_FMT
	  ,ACCT_NBR
	  ,IIF( #FICO_MIN.[SSN] IS NULL, 0 , 1) AS PRIMARY_FICO
      ,[TAX_ID_NBR]
      ,#FICO_MIN.[FICO_MIN]
 INTO #TIN_FICO_TEMP
 FROM [CreditAdmin].[dbo].[TAX_ID_EOM] TIN
 LEFT JOIN #FICO_MIN ON #FICO_MIN.SSN = TIN.TAX_ID_NBR
 WHERE TIN.DATE_KEY = 20180228 
 ORDER BY ACCT_NBR
 
 --SELECT [TAX_ID_NBR] FROM #TIN_FICO_TEMP WHERE PRIMARY_FICO =1
 --SELECT ACCT_NBR FROM #TIN_FICO_TEMP WHERE PRIMARY_FICO =1
 --SELECT ACCT_NBR FROM #TIN_FICO_TEMP GROUP BY [ACCT_NBR] HAVING SUM(PRIMARY_FICO)>0 

--,GUARANTOR_AFS AS (
--  SELECT IND.OBG_NO
--       , CONCAT('0', IND.OBG_NO0, '-', RIGHT(CONCAT('0000', IND.OBL_NO0),4)) AS ACCT_NBR
--       , IND.IND_LIAB_CD
--       , IND_DESC.[IND_LIAB_CD_DESC]
--       , OBLG.SSN
--       , OBLG.[TAX_IDENT]
--  FROM [EagleVision].[dbo].[T_AFSR_INDIRECT_LIAB_REF] IND
--       LEFT JOIN [EagleVision].[dbo].[T_AFSR_OBLG] OBLG ON IND.OBG_NO=OBLG.OBG_NO AND IND.PROD_DT=OBLG.PROD_DT
--       LEFT JOIN [CreditAdmin].[CODE_DESC].[V_AFS_INDIRECT_LIABILITY_CD_CURR] IND_DESC ON IND.IND_LIAB_CD=IND_DESC.[IND_LIAB_CD]
--  WHERE IND.PROD_DT='2018-2-28'
--) -- FILTER ON FICO OUTSIDE OF PRIMARY BORROWER, GUARANTOR AND CO-BORROWER

  SELECT 
       FICO.[ACCOUNT #]
	  ,ROW_NUMBER() OVER (PARTITION BY FICO.[ACCOUNT #] ORDER BY FICO.[FICO BASE V2- QST]) AS ROW_NUM
	  ,PERCENTILE_DISC(0.5) WITHIN GROUP (ORDER BY FICO.[FICO BASE V2- QST] ASC) OVER (PARTITION BY FICO.[ACCOUNT #] ) AS MedianDESC
  INTO #GUARANTOR_FICO
  FROM [CreditAdmin].[dbo].[CURRENT_FICO] FICO
  LEFT JOIN #TIN_FICO_TEMP ON #TIN_FICO_TEMP.ACCT_NBR_FMT = FICO.[ACCOUNT #]
  WHERE FICO.[ACCOUNT #] NOT IN (SELECT DISTINCT ACCT_NBR_FMT FROM #TIN_FICO_TEMP GROUP BY ACCT_NBR_FMT HAVING SUM(PRIMARY_FICO)>0) -- ONLY INCLUDE ACCT WITHOUT PRIMARY BORROWER FICO
  ORDER BY FICO.[ACCOUNT #]
  
--SELECT * FROM #GUARANTOR_FICO WHERE ROW_NUM = 1

SELECT TIN.[DATE_KEY]
      ,TIN.[PROD_DT]
      ,TIN.[SRC_TYPE_CD]
      ,IIF( TIN.SRC_TYPE_CD = 'AFS' , TIN.ACCT_NBR, LEFT(TIN.ACCT_NBR,2) +'-'+ SUBSTRING(TIN.ACCT_NBR,3,6) +'-'+ RIGHT(TIN.ACCT_NBR,1) ) AS ACCT_NBR_FMT
	  ,TIN.ACCT_NBR
      ,TIN.[TAX_ID_NBR]
	  ,ISNULL(#TIN_FICO_TEMP.[FICO_MIN], #GUARANTOR_FICO.MedianDESC) AS FICO_FINAL
 INTO FICO_CURR_20171231
 FROM [CreditAdmin].[dbo].[TAX_ID_EOM] TIN
 LEFT JOIN #TIN_FICO_TEMP ON #TIN_FICO_TEMP.ACCT_NBR = TIN.ACCT_NBR AND #TIN_FICO_TEMP.[FICO_MIN] IS NOT NULL
 LEFT JOIN #GUARANTOR_FICO ON #GUARANTOR_FICO.[ACCOUNT #] = IIF(TIN.SRC_TYPE_CD = 'AFS', TIN.ACCT_NBR, LEFT(TIN.ACCT_NBR,2) + SUBSTRING(TIN.ACCT_NBR,3,6) + RIGHT(TIN.ACCT_NBR,1))
	AND #GUARANTOR_FICO.ROW_NUM = 1 AND MedianDESC IS NOT NULL
 WHERE TIN.DATE_KEY = 20180228 
 ORDER BY ACCT_NBR 
       
 -- LEFT JOIN [CreditAdmin].[dbo].[TAX_ID_EOM] TIN ON FICO.[SSN] = TIN.TAX_ID_NBR 
	--AND FICO.[ACCOUNT #] = CASE WHEN TIN.SRC_TYPE_CD = 'AFS' THEN TIN.[ACCT_NBR] ELSE REPLACE(TIN.[ACCT_NBR],'-','') END 
	--AND TIN.DATE_KEY = 20180228
  

--DROP TABLE #GUARANTOR_FICO;
--DROP TABLE #FICO_MIN;


SELECT * FROM FICO_CURR_20171231 
WHERE FICO_FINAL IS NOT NULL


